<div class="form-group">
    <label for="website">Website</label>
    <input type="text" class="form-control" id="website" value={{password.website}}>
</div>
    
<div class="form-group">
    <label for="url">URL</label>
    <input type="text" class="form-control" id="url" value={{password.url}}>
</div>

<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" value={{password.user_name}}>
</div>

<div class="form-group">
    <label for="username">Password</label>
    <input type="password" class="form-control" id="password" value={{password.saved_password}}>
</div>
            
<button class="btn btn-primary btn-lg" id="myBtn">Generate password</button>
<button class="btn btn-primary btn-lg" id="save-password">Save</button>
<a class="btn btn-secondary btn-lg" href="/">Back</a>

<div id="myModal" class="modal">
    <div class="modal-content">
    <div class="main">
        <div class="top">
        <span class="close">&times;</span>
        <h2 class="modal-header">Password Criteria</h2>
        <input type="text" id="output" readonly="true">
        <input type="text" value="8" id="char_num">
        <button onclick="copyFunction()"><i class="fa fa-clone"></i></button>
        </div>
        
        <div class="detail">
        <p id="strength">Strength:</p>
        </div>
        
        <div class="options">
        <ul>
            <li>
            <input type="checkbox" id="capCheck">
            <label for="capCheck">Uppercase</label>
            <label for="capCheck" id="icon"></label>         
            </li>
            
            <li>
            <input type="checkbox" id="smCheck"> 		     
            <label for="smCheck">Lowercase</label>
            <label for="smCheck" id="icon"></label> 
            </li>
            
            <li>
            <input type="checkbox" id="numCheck">		
            <label for="numCheck">numbers</label>
            <label for="numCheck" id="icon"></label> 
            </li>
            
            <li>
            <input type="checkbox" id="symCheck">        		    
            <label for="symCheck">symbol</label>
            <label for="symCheck" id="icon"></label> 
            </li>
            
            <li>
            <input type="checkbox" id="strict"> 		     
            <label for="strict">strict</label>
            <label for="strict" id="icon"></label> 
            </li>           		
        </ul>
        </div>
        <button onclick="generate()" id="password_generate">Generate Password</button>
    </div>
    </div>
</div>


<!-- MODAL Script -->
<script>
  // Get the modal
  var modal = document.getElementById("myModal");
      
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
      
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
      
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }
      
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
      
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

<!-- Password Criteria Script -->
<script>
  const num = document.getElementById('number');
  const output = document.getElementById('output'); /*output show*/
  const pass_num = document.querySelector('#char_num'); /*password character num*/
  const strength = document.querySelector('#strength'); /*password strength*/
  
  const randomPassword = () => {
    const password = generator.generate({
      length: document.querySelector('#char_num'),
      numbers: document.getElementById('numCheck'),
      symbols: document.getElementById('symCheck'),
      lowercase: document.getElementById('smCheck'),
      uppercase: document.getElementById('capCheck'),
      strict: document.getElementById('strict'),
    });

    output.value = password; /* final password */
    if (password.length <= 5){ /*check password strength*/
      strength.innerHTML = "Weak";
      strength.style.color = "red";
    }
    else if(password.length >= 20){
      strength.innerHTML = "Very Strong";
      strength.style.color = "green";
    }
    else if(password.length >= 8){
      strength.innerHTML = "Strong";
      strength.style.color = "green";
    }
    else{
      strength.innerHTML = "Normal";
      strength.style.color = "green";
    }
  };

  function generate() { /*password generate*/
    const length = pass_num.value;
    if (length >= 0) {
      randomPassword();
    } 
  }
    
  function copyFunction() { /*copy password*/
    output.select();
    output.setSelectionRange(0, 99999)
    document.execCommand("copy");
    alert("Your password: " + output.value);
  }  
</script>