<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Genie</title>
  <!-- TODO: ADD CSS HERE -->
</head>

<body>
  <header>
    <h1>Password Genie</h1>
  </header>
  <main>
      {{{body}}}
  </main>
</body>

</html>