<div class="wrapper">
   <div class="title-text">
      <div class="title login">
         Edit Password
      </div>
   </div>
        
   <div class="form-inner">
      <form action="#" class="edit editForm">
         <input type="hidden" name="password_id" id="pwdId" value="{{password.id}}"/>
            {{> password-form-fields}}
      </form>
   </div>
</div>

<script src="/js/edit.js"></script>
