<body>
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Edit Password
            </div>
           
         </div>
        
            <div class="form-inner">
               <form action="#" class="login">
                   
                  <div class="field">
                    <div>Name</div>
                     <input type="none">
                  </div>
                  <div class="field">
                      <div>URL</div>
                     <input type="none">
                  </div>
                  <div class="field">
                    <div>User Name</div>
                  <input type="none">
               </div>
                  <div class="field">
                      <div>Password</div>
                    <input type="none">
                 </div>
                 
                  
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Generate new password">
                  </div>
                  
                  
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Save">
                  </div>

                  <div class="field btn">
                    <div class="btn-layer1"></div>
                    <input type="submit" value="Cancel">
                 </div>
               </form>
            </div>
         </div>
      </div>
    
</body>