
   {{!-- <body> --}}
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Password Genie
            </div>
            <div class="title signup">
               Password Genie
            </div> 
         </div>
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" checked>
               <input type="radio" name="slide" id="signup">
               <label for="login" class="slide login">Log In</label>
               <label for="signup" class="slide signup">Register</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               <form action="#" class="login loginForm">
                  <div class="field">
                     <input type="text" id="loginUserOrEmail" placeholder="Email/Username" required>
                  </div>
                  <div class="field">
                     <input type="password" id="loginPwd" placeholder="Password" required>
                  </div>
                  
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" id="btnLoginSubmit" value="Login">
                  </div>
                  <div class="signup-link">
                     Not a User? <a href="">Register now</a>
                  </div>
               </form>
               <form action="#" class="signup signupForm">
                  <span id="error"></span>
                  <div class="field">
                     <input type="text" id="signupUsername" placeholder="Username" required>
                  </div>
                  <div class="field">
                     <input type="email" id="signupEmail" placeholder="Email" required>
                  </div>
                  <div class="field">
                     <input type="password" id="signupPwd" placeholder="Password" required>
                  </div>
                  <div class="field">
                     <input type="password" id="signupConfirmPwd" placeholder="Confirm password" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" id="btnSignupSubmit" value="Signup">
                  </div>
               </form>
            </div>
         </div>
      </div>
      
      <script>
         const loginText = document.querySelector(".title-text .login");
         const loginForm = document.querySelector("form.login");
         const loginBtn = document.querySelector("label.login");
         const signupBtn = document.querySelector("label.signup");
         const signupLink = document.querySelector("form .signup-link a");
         signupBtn.onclick = (()=>{
           loginForm.style.marginLeft = "-50%";
           loginText.style.marginLeft = "-50%";
         });
         loginBtn.onclick = (()=>{
           loginForm.style.marginLeft = "0%";
           loginText.style.marginLeft = "0%";
         });
         signupLink.onclick = (()=>{
           signupBtn.click();
           return false;
         });
      </script>

      <script src="/js/login.js"></script>
   {{!-- </body> --}}
