
<link rel="stylesheet" href="logout.css">

          <script src="logout.js"></script>
          <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

          <div class="wrapper">
              <div class="navbar">
                  <div class="left">
                      <ul>
                        <li><a href="#">
                          <i class="fas fa-home"></i></a></li>
                      
                    </ul>
                  </div>
                  <div class="right">
                      <ul>
                        <li>
                          <a href="#">
                            <p>@User4 <br> <span>  </span></p>  <i class="fas fa-angle-down"> </i>
                </a>
                           
                          <div class="dropdown">
                              <ul>
                                
                                <li><a href="#"><i class="fas fa-sign-out-alt"></i> Signout</a></li>
                            </ul>
                          </div>
                          
                        </li>
                    </ul>
                    <script src="logout.js"></script>
                  </div>
              </div>
          </div>