<div class="wrapper">
  <div class="title-text">
    <div class="title login">
      New Entry Form
    </div>
  </div>
          
  <div class="form-inner">
    <form action="#" class="edit newPassword"> 
      {{> password-form-fields}} 
    </form>
  </div>
</div>
  
<script src="/js/new-form.js"></script>