 <div class="wrap">
            <div class="navbar">
                
                <div class="right">
                    <ul>
                      <li>
                        <a href="#">
                          <p>@User4 <br> <span>  </span></p>  <i class="fas fa-angle-down"> </i>
              </a>
                         
                        <div class="dropdown">
                            <ul>
                              
                              <li><a href="login.handlebars"><i class="fas fa-sign-out-alt"></i> Signout</a></li>
                          </ul>
                        </div>
                        
                      </li>
                  </ul>
                  
                </div>
            </div>
        </div>
       
<div class="wrapper">
    <div class="title-text">
        <div class="title login">
        New Entry Form
        </div>
    </div>
          
    <div class="form-inner">
        <form action="#new-entry-form" class="login">  
            <div class="field">
              <div>Name</div>
              <input type="text" name="website" class="form-input"/>
            </div>
            <br>

            <div class="field">
              <div>URL</div>
              <input type="text" name="url" class="form-input"/>
            </div>
            <br>

            <div class="field">
              <div>Username</div>
              <input type="text" name="username" class="form-input"/>
            </div>
            <br>

            <div class="field">
              <div>Password</div>
              <input type="text" name="password" class="form-input"/>
            </div>
            <br>
                    
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Generate new password">
            </div>
                    
            <div class="field btn">
              <div class="btn-layer"></div>
              <button type="submit" id="save-password" value="Save">
            </div>
  
            <div class="field btn">
              <div class="btn-layer1"></div>
              <button type="submit" id="cancel-btn" value="Cancel">
            </div>
        </form>
    </div>
</div>

<script src="/public/js/new-form.js"></script>
<script src="/public/js/logout.js"></script>
