
 <div class="wrap">
            <div class="navbar">
                
                <div class="right">
                    <ul>
                      <li>
                        <a href="#">
                          <p>@User4 <br> <span>  </span></p>  <i class="fas fa-angle-down"> </i>
              </a>
                         
                        <div class="dropdown">
                            <ul>
                              
                              <li><a href="login.handlebars"><i class="fas fa-sign-out-alt"></i> Signout</a></li>
                          </ul>
                        </div>
                        <script src="/public/js/logout.js"></script>
                      </li>
                  </ul>
                  
                </div>
            </div>
        </div>
           
<div class="container">
    <h1>Passwords</h1>
    
    <div class="search-elements">
        <input id="add" type="text" placeholder="Search">
        <button class="btn btn-primary">Add New</button>
    </div>
    
    <div class="element-list">
        <ul id="list">
            {{#each passwords as |password| }}
                <li><a href="/passwords/{{password.id}}">
                        <div>{{password.website}}</div>
                        <div style="color:gray">Last updated: {{format_date password.updatedAt}}</div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
    
</div>
        
