<div class="container">
    <h1>Passwords</h1>
    
    <div class="search-elements">
        <input id="add" type="text" placeholder="Search">
        <button class="btn btn-primary">Add New</button>
    </div>
    
    <div class="element-list">
        <ul id="list">
            {{#each passwords as |password| }}
                <li><a href="/passwords/{{password.id}}">
                        <div>{{password.website}}</div>
                        <div style="color:gray">Last updated: {{format_date password.updatedAt}}</div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
    
</div>
        
