
    
    <body>
        <div class="container">
            <h1>Passwords</h1>
            
            <div class="search-elements">
                <input id="add" type="text" placeholder="Search">
                <button id="btn">Add New</button>
            </div>
            
            <div class="element-list">
                <ul id="list">
                    
                </ul>
            </div>
            
        </div>
        
        
    </body>
    
