  
 <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               View Password
            </div>
           
         </div>
        
            <div class="form-inner">
               <form action="#" class="login">
                   
                  <div class="field">
                    <div>Name</div>
                     <input type="none">
                  </div>
                  <div class="field">
                      <div>URL</div>
                     <input type="none">
                  </div>
                  <div class="field">
                      <div>Password</div>
                    <input type="none">
                 </div>
                 
                 <div class="icons">
                    <i class="fas fa-save text-light save-note"></i></div>
                 
                 
                  
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Edit Password">
                  </div>
                  
                  
                  <div class="field btn">
                     <div class="btn-layer1"></div>
                     <input type="submit" value="Delete Password">
                  </div>

                  <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Return">
                 </div>
               </form>
            </div>
         </div>
      </div>
    
   </body>
